# Environment variables for the React app
REACT_APP_API_URL=http://localhost:5000/api
SERPAPI_API_KEY=18128e418c8d0226f1045c992db817aad500386c699cf25ebffc598f88aab1c0
OPENAI_API_KEY=
ANTHROPIC_API_KEY=

AEO_WEIGHTS_JSON={"ai_presence":0.3,"competitor":0.4,"strategy_review":0.4}
AEO_ASYNC_ENABLED=False